.coin-frames {
    background: url('coins.png') 0px 0px;
    height: 76px;
    width: 76px;
}

.frame-1{
    background-position: -0px -2px; width: 27px; height:72px;
}

.frame-2{
    background-position: -76px -2px; width: 59px; height:72px;
}

.frame-3{
    background-position: -152px -2px; width: 65px; height:71px;
}

.frame-4{
    background-position: -228px -2px; width: 41px; height:72px;
}

.frame-5{
	background-position: -304px -2px; width: 9px; height:72px;
}

.frame-6{
	background-position: -380px -2px; width: 45px; height:72px;
}

.frame-7{
	background-position: -456px -1px; width: 67px; height:74px;
}

.frame-8{
	background-position: -532px -1px; width: 73px; height:73px;
}

.frame-9{
	background-position: -608px -2px; width: 60px; height:72px;
}

.frame-10{
	background-position: -684px -2px; width: 10px; height:72px;
}
